In [ ]:
# Purpose: extract data after "name" and build out dataframe

In [49]:
import json

In [147]:
import pandas as pd

In [148]:
input = '''[
{"id" : "009",
"x" : "7",
"name" : ["A,B,C,1,2,3,4,5,6"]}
]'''

In [149]:
info = json.loads(input)

In [150]:
for item in info:
    print item['name']

[u'A,B,C,1,2,3,4,5,6']

In [151]:
file = item['name']

In [152]:
file

[u'A,B,C,1,2,3,4,5,6']

In [153]:
for i in file:
    print i

A,B,C,1,2,3,4,5,6

In [154]:
c = i.split(",")

In [155]:
c

[u'A', u'B', u'C', u'1', u'2', u'3', u'4', u'5', u'6']

In [ ]:
## convert the list to a single unicode string, and then convert that to ASCII

In [156]:
d = []
for item in range(len(c)):
    c[item].encode("ascii")
    d.append(c[item].encode("ascii"))

In [157]:
d

['A', 'B', 'C', '1', '2', '3', '4', '5', '6']

In [158]:
d[0:3]

['A', 'B', 'C']

In [159]:
type(d[0:3])

list

In [ ]:
## convert list to numpyarray

In [160]:
import numpy as np

In [161]:
myarray = np.array([d[3:6],d[6:9]])

In [162]:
myarray

array([['1', '2', '3'],
       ['4', '5', '6']],
      dtype='|S1')

In [163]:
df=pd.DataFrame(myarray,columns = d[0:3])

In [164]:
df

   A  B  C
0  1  2  3
1  4  5  6