In [3]:
import pandas as pd

In [169]:
data = pd.read_csv('data.csv')

In [203]:
id2 = pd.read_csv('id.csv')

In [204]:
data

        ID  Values
0  C100047      16
1   C10004       3
2  C100061       1
3   C10010       1
4   C10020       1

In [205]:
data.ID = data['ID']

In [206]:
data

        ID  Values
0  C100047      16
1   C10004       3
2  C100061       1
3   C10010       1
4   C10020       1

In [208]:
id2.ID = id2['IDs']

In [160]:
d=[]

In [163]:
for row in data.ID:
    d.append(row)

In [139]:
d

['C100047', 'C10004', 'C100061', 'C10010', 'C10020']

In [140]:
f=[]
for row in id2.ID:
    f.append(row)

In [141]:
f

['C100047', 'C10004', 'C100061', 'C2000', 'C2001', 'C2002']

In [142]:
g=[]
for i in d:
    if i in f:
        g.append(i)

In [143]:
g

['C100047', 'C10004', 'C100061']

In [172]:
data = pd.read_csv('data.csv',index_col='ID')

In [173]:
new_data = data.loc[g,:]

In [174]:
new_data.to_csv('new_data.csv')